[Desktop Entry]
Name=DarkPlaces
Comment=Enhanced Quake Engine
Exec=/usr/games/darkplaces
Icon=/usr/share/icons/Papirus/32x32/apps/quake.svg
Terminal=false
Type=Application
Categories=Game;ActionGame;
