# SPDX-FileCopyrightText: 2025 Eden Emulator Project
# SPDX-License-Identifier: GPL-3.0-or-later

# SPDX-FileCopyrightText: 2018 yuzu Emulator Project
# SPDX-License-Identifier: GPL-2.0-or-later

[Desktop Entry]
Version=1.0
Type=Application
Name=Eden
GenericName=Switch Emulator
Comment=Multiplatform FOSS Switch 1 emulator written in C++, derived from Yuzu and Sudachi
Icon=dev.eden_emu.eden
TryExec=eden
Exec=/usr/bin/eden %f
Categories=Game;Emulator;Qt;
MimeType=application/x-nx-nro;application/x-nx-nso;application/x-nx-nsp;application/x-nx-xci;
Keywords=Nintendo;Switch;
StartupWMClass=eden
