[Desktop Entry]
Name=shadPS4 Qt Launcher
Exec=/opt/shadps4/AppRun
Terminal=false
Type=Application
Icon=/opt/shadps4/net.shadps4.shadPS4
Comment=Launcher for shadPS4 emulator
Categories=Game;Emulator;
StartupWMClass=shadPS4QtLauncher;
