[Desktop Entry]
Type=Application
Categories=Game;Emulator;
Name=DuckStation
GenericName=PlayStation 1 Emulator
Comment=Fast PlayStation 1 emulator
Icon=/opt/duckstation/org.duckstation.DuckStation.png
Exec=/opt/duckstation/AppRun %f
