[Desktop Entry]
Type=Application
Name=RPCS3
GenericName=PlayStation 3 Emulator
Icon=/opt/rpcs3/usr/share/icons/hicolor/scalable/apps/rpcs3.svg
Exec=env QT_QPA_PLATFORM=xcb /opt/rpcs3/AppRun %f
Terminal=false
Categories=Game;Emulator;
